ion-modal {
  --border-radius: 24px 24px 0 0;
  align-items: flex-end;
}

@media (min-width: 768px) {
  ion-modal {
    --border-radius: 16px;
    --width: 90%;
    --max-width: 500px;
  }
}

ion-footer ion-toolbar {
  --background: transparent;
  --padding-top: 12px;
  --padding-bottom: 12px;
  --padding-start: 16px;
  --padding-end: 16px;
}
